/* ------------------- second section -------------------  */

.second-section {
  padding: 20px;
}

.projects-title {
  font-size: 90px;
  line-height: 105px;
  color: #38512e;
}

.projects-hr {
  width: 373px;
  height: 0px;

  border: 4px solid #38512e;
}

.projects-content {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */

  text-align: justify;

  color: #38512e;
}

/* ------------------- second section -------------------  */

/* ------------------- third section -------------------  */

.third-section {
  background-color: #255302;
  padding: 30px;
}

.third-section-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.third-section__first__input {
  width: 300px;
  border: none;
  outline: none;
  background-color: #e2efd9;
  color: #255302;
  font-weight: bold;
}

.third-section__first__input::placeholder {
  color: #255302;
  font-weight: bold;
}

.third-section__second__options::placeholder {
  color: #255302;
  font-weight: bold;
}

.third-section__first {
  width: auto;
  padding: 10px;
  background-color: #e2efd9;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.third-section__second {
  width: auto;
  padding: 15px;
  background-color: #e2efd9;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.third-section__first__submit {
  padding: 10px;
  background-color: #255302;
  color: white;
}

/* ------------------- third section -------------------  */

/* ------------------- forth section -------------------  */

.project-row-padding {
  background-color: #e2efd9;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
}

.project-list-alignment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.project-name__p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  /* identical to box height */
  text-align: justify;

  color: #38512e;
}

.project-name__p,
.project-content__p {
  margin: 0;
  padding: 0;
  padding: 10px;
}

.project-content__p {
  background: #255302;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
}

.second-col-padding {
  display: block;
  margin: auto;
}

/* ------------------- forth section -------------------  */

/* ------------------- fifth section -------------------  */

.blog-card-date {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 41px;
  /* identical to box height */

  text-align: justify;

  color: #38512e;
}

.blog-main-div {
  margin: 40px;
}

.blog-card-padding {
  width: auto;
  background: #e2efd9;
  border-radius: 20px;
  padding: 20px;
  border: none;
}

.card-text-content {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #38512e;
}

.card-learn-more {
  background-color: #38512e !important;
  border: none;
}

/* ------------------- fifth section -------------------  */
