/* --------------------------- project page media query --------------------------- */

@media only screen and (max-width: 600px) {
  .projects-hr {
    width: auto;
    height: 0px;
  }

  .third-section-flex {
    display: block;
    margin: auto;
  }

  .mobile-responsive-state {
    margin-top: 10px;
  }
  .project-name__p {
    font-size: 18px;
  }

  .project-content__p {
    background: #255302;
    width: 200px;
    color: #ffffff;
  }
}

/* --------------------------- project page media query --------------------------- */
